*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
    --sans: 'open sans', sans-serif;
    --indie: 'Indie Flower', cursive;
    --gradient-black: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    --gradient-blue: linear-gradient(62deg, #254569f7 0%, #f1e5a1e6 100%);
    --color-red: #be3144;
    --color-blue: #45567d;
    --color-grey: #303841;
    --color-grey-8: #303841e0;
    --color-white: #f0f0f0;
    --color-redbrown: #451916;
    --color-redlight: #91291f94;
    --color-bluedark: rgb(37,69,105);
    --color-bluelight: #265991;
    --shadow: 0 20px 20px -20px #000000cc;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #1c1d25;
    font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
    line-height: 1.5;
    background-color: white;
    font-family: 'Lato', sans-serif;
    width: 100%;
    max-width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    box-shadow: var(--shadow);
    background-color: #000000d0;
}

.navbar a {
    margin-top: 15px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: whitesmoke;
    padding-right: 4%;
    margin-right: 10px;
    list-style-type: none;
    display: inline;
    transition: 1s;
}

.navbar a:hover {
    color: #d86060;
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 180px;
    height: 100%;
    width: 100%;
    background-color: #000000d0;
}

.modal-content {
    background-color: #f8e2e2;
    margin: auto;
    padding: 30px;
    width: 49%;
    box-shadow: inset 0 0 10px #000000;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.aboutme-p1{
    font-family: monospace;
    font-size: 15px;
    padding-bottom: 10px;
    color: #000;
    margin-left: 15px;
}

.aboutme-h2 {
    font-size: 33px;
    font-weight: 300;
    text-transform: uppercase; 
    font-family: League Spartan;
    color: #491616;
}

.aboutme-h4 {
    font-size: 21px;
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
}

.aboutme-p {
    padding-top: 27px;
    font-size: 20px;
    font-family: cursive;
    font-weight: 120;
    text-align: justify;
    text-justify: inter-word;
}

.sec-1 {
    width: 100%;
    height: 100%; 
    background-color: #ebebeb;
}

.header-div {
    width: 90%;
    position: absolute;
    padding-left: 12%;
    padding-top: 5%;
}

.myname {
    margin-top: 200px;
    font-size: 6em;
    line-height: 1em;
    font-family: League Spartan;
    font-style: oblique;
    color: #000000d0;
}

.myname-bio {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    font-size: 1.5em;
    font-style: italic;
    color: #000000d0;
}

.main-social {
    position: absolute;
    padding-left: 95%;
    padding-top: 15%;
}

.main-social li {
    list-style-type: none;
}

.social {
    display: flow-root;
    padding: 18px;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    color: #000000d0;
    text-decoration: none;
    font-size: 25px;
    transition: 1s;
}

.social:hover {
    transform: scale(1.2);
}

.sec2 {
    background-color:#cdcdcd;
    padding-bottom: 100px;
}

.case-h4 {
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: 1.5px;
    color: #3a3d40;
    margin-bottom: 5px;
}

.work-sec {
    text-align: center;
    font-family: var(--sans);
    padding-bottom: 20px;
    padding-top: 2px;
}

.work-div {
    display: grid;
    margin: auto;
    width: 500px;
    gap: 10% 10%;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 50px;
    transition: 2s;
}

.work-div:hover {
    opacity: 0.9;
    transform: scale(1.2);
}

.work-tile {
    background-color: #000000d0;
    padding-bottom: 25px;
    width: fit-content;
    text-decoration: none;
    border: 2px solid #2c2936;   
    border-radius: 10px; 
}

.work-tile p:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-red);
}

.work-tile img {
    height: 300px;
    width: 100%;
    border: 1px solid #2c2936;   
    border-radius: 10px; 
}

.work-tile p {
    color: var(--color-white);
    margin: auto;
    font-family: var(--indie);
    font-size: 25px;
    padding-top: 10px;
    font-weight: 600;
}

.more-div {
    width: 350px;
    border: 5px solid var(--color-redbrown);
    border-radius: 13px;
    padding: 5px;
    margin: auto;
    color: black;
    background-color: brown;
}

.more-div:hover {
    background-color: #974848;
}

.codepen {
    font-size: 15px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    margin: auto;
    font-size: 20px;
    transition: 1s;
}

.sec3 {
    background-color:#adadad;
    padding-top: 40px;
    padding-bottom: 10px;
}

.exp-h4 {
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    font-size: 3.5em;
    letter-spacing: 1.5px;
    color: #3a3d40;
    margin-bottom: 5px;
}

.projects {
    text-align: center;
    font-family: var(--sans);
    padding-bottom: 20px;
    padding-top: 2px;
}

.projects-div {
    display: grid;
    margin: auto;
    width: 500px;
    gap: 10% 10%;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 50px;
    transition: 2s;
}

.projects-div:hover {
    opacity: 0.9;
    transform: scale(1.2);
}

.project-tile {
    background-color: #000000d0;
    padding-bottom: 25px;
    width: fit-content;
    text-decoration: none;
    border: 2px solid #2c2936;   
    border-radius: 10px; 
}

.project-tile p:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-red);
}

.project-tile img {
    height: 300px;
    width: 100%;
    border: 1px solid #2c2936;   
    border-radius: 10px; 
}

.project-tile p {
    color: var(--color-white);
    margin: auto;
    font-family: var(--indie);
    font-size: 25px;
    padding-top: 10px;
    font-weight: 600;
}

.footer {
    background-color: #000000d0;
    padding: 8%;
    padding-top: 5%;
    margin: auto;
    box-shadow: inset var(--shadow);
    color: #f3f3f3;
}

.contacts {
    flex-direction: column;
    text-align: center;
    font-family: var(--sans);
    justify-content: center;
}

.contacts p {
    padding-bottom: 50px;
    font-family: var(--indie);
}

.footer-nav {
    position: relative;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.footer-nav li {
    display: inline;
    list-style-type: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 10px 0 10px;
    font-size: 20px;
    transition: 0.5s;
    margin: auto 20px;
}

.nav-link:hover {
    border-bottom: 7px solid var(--color-red);
}

.footer-copy {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 15px;
    padding-top: 90px;
    margin-bottom: 5px;
}















@media (max-width: 600px) {
.navbar {
    width: 100%;
    display: flex;
    height: 61px;
    justify-content: flex-end;
    box-shadow: var(--shadow);
    background-color: #000000d0;
}

.navbar a {
    margin: auto;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: whitesmoke;
    list-style-type: none;
    display: inline;
    transition: 1s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    height: 100%;
    width: 100%;
    background-color: #000000d0;
}

.modal-content {
    background-color: #f8e2e2;
    margin: auto;
    padding: 10px;
    width: 75%;
    box-shadow: inset 0 0 10px #000000;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.aboutme-p1{
    font-family: monospace;
    font-size: 12px;
    padding-bottom: 10px;
    color: #000;
    margin-left: 0px;
}

.aboutme-h2 {
    font-size: 25px;
    text-transform: uppercase; 
    font-family: League Spartan;
    color: #491616;
}

.aboutme-h4 {
    font-size: 15px;
    font-family: cursive;
    font-style: italic;
    font-weight: 200;
}

.aboutme-p {
    padding-top: 20px;
    font-size: 15px;
    font-family: cursive;
    text-align: justify;
    text-justify: inter-word;
}

.sec-1 {
    width: 100%;
    background-color: #ebebeb;    
    height: 550px;
}

.header-div {
    padding-left: 10%;
    margin: 40px auto;  
}

.myname {
    margin: auto;
    font-size: 2em;
    line-height: 1em;
    font-family: League Spartan;
    font-style: oblique;
    color: #000000d0;    
}

.myname-bio {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 1em;
    font-style: italic;
    color: #000000d0;    
}

.main-social {
    padding-left: 85%;
    padding-top: 15%;    
}

.social {
    padding: 10px;
    color: #000000d0;
    font-size: 18px;
    transition: 1s;
}

.social:hover {
    transform: scale(1.2);
}

.sec2 {
    background-color:#cdcdcd;
    padding-top: 40px;
    padding-bottom: 40px;
}

.case-h4 {
    text-align: center;
    font-family: LibreBaskerville;
    line-height: 1;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #3a3d40;
    margin: auto 10px;
}

.work-sec {
    text-align: center;
    padding-top: 5px;
}

.work-div {
    display: grid;
    margin: auto;
    width: 350px;
    padding-bottom: 35px;
    transition: 2s;    
}

.work-div:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.work-tile {
    background-color: #000000d0;
    padding-bottom: 10px;
    width: fit-content;
    border: 2px solid #2c2936;   
}

.work-tile img {
    height: 120px;
    width: 280px;
}

.work-tile p {
    color: var(--color-white);
    font-size: 15px;
    font-family: LibreBaskerville;
    padding-top: 10px;
}

.more-div {
    width: 180px;
    border: 2px solid var(--color-redbrown);
    border-radius: 10px;
    padding: 2px;
    margin: auto;
    color: black;
    background-color: brown;
}

.more-div:hover {
    background-color: #974848;
}

.codepen {
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    margin: auto;
}

.sec3 {
    background-color:#adadad;
    padding-top: 40px;
    padding-bottom: 40px;
}

.exp-h4 {
    text-align: center;
    font-family: LibreBaskerville;
    line-height: 1;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #3a3d40;
    margin: auto 10px;
}

.projects {
    text-align: center;
    padding-top: 5px;
}

.projects-div {
    display: grid;
    margin: auto;
    width: 350px;
    padding-bottom: 35px;
    transition: 2s;    
}

.projects-div:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.project-tile {
    background-color: #000000d0;
    padding-bottom: 10px;
    width: fit-content;
    border: 2px solid #2c2936;   
}

.project-tile img {
    height: 120px;
    width: 280px;
}

.project-tile p {
    color: var(--color-white);
    font-size: 18px;
    padding-top: 10px;
}

.footer {
    background-color: #000000d0;
    box-shadow: inset var(--shadow);
    color: #f3f3f3;
    width: 100%;
}

.contacts {
    margin: auto;
    font-family: var(--sans);
}

.contacts p {
    margin: auto;
    font-family: var(--indie);
}

.footer-nav {
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-nav li {
    display: inline;
    list-style-type: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    margin: auto;
    transition: 1s;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-red);    
}

.footer-copy {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 13px;
}

}

































